.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(10, 30, 80, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    color: var(--Black_Color);
    width: 100%;
    max-width: 320px;
    min-height: 170px;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 22px rgba(10, 30, 80, 0.15);
}
.iconImage {
    width: 38px;
    height: 38px;
    object-fit: contain;
    display: block;
}
.iconWrapper {
    font-size: 28px;
    margin-bottom: 12px;
    width: 38px;
    height: 38px;
    color: var(--Primary_Color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: var(--Font_Size_7);
    font-weight: 600;
    color:#867070;
   
    line-height: 1.6;
    margin-bottom: 8px;
}

.description {
    font-size: var(--Font_Size_3);
    font-weight: 55000;
    color: var(--Black_Color);
    line-height: 1.6;
}

/* Responsive layout */
@media (max-width: 768px) {
    .card {
        padding: 20px;
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    .title {
        font-size: var(--Font_Size_5);
    }

    .description {
        font-size: var(--Font_Size_1);
    }
}