/* src/pages/LiveClasses/SubcategoryClassesPage/SubcategoryClassesPage.module.css */

.pageWrapper {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  /* padding: 20px; */
}
.categoryheader {
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.03);
}
/* Re-using styles from your other pages */
.contentArea {
  width: 100%;
  padding: 24px;
  background-color: #fff;
  /* border-radius: 8px; */

  /* margin-top: 20px; */
}

.filterBar {
  max-width: 500px;
  margin-bottom: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.noResults {
  font-size: 1rem;
  color: #555;
  padding: 40px 0;
  text-align: center;
}
